@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    box-sizing: border-box;
}

    html, body {
        height: 100%;
    }

    body {
        margin: 0px;
        padding: 0px;
        background-color: white;
        font-family: 'Lato', sans-serif;
        font-size: 11pt;
        font-weight: 400;
        color: #000000;
    }


    h1, h2, h3 {
        margin: 0;
        padding: 0;
    }

    p, ol, ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    ol, ul {
        padding: 0;
        list-style: none;
    }

    p {
        line-height: 1.5em;
    }

    strong {
    }

    a {
        color: #0000FF;
        text-decoration: none;
        color: inherit;
    }

    a.overt {
        text-decoration: underline;
    }

    a:hover {
        text-decoration: underline;
    }

    .container {
        margin: 0px auto;
    }

    .image {
        display: inline-block;
    }

    .image img {
        display: block;
        width: 100%;
    }

    .image-full {
        display: block;
        width: 100%;
        margin: 0 0 3em 0;
    }

    .image-left {
        float: left;
        margin: 0 2em 2em 0;
    }

    .image-centered {
        display: block;
        margin: 0 0 2em 0;
    }

    .image-centered img {
        margin: 0 auto;
        width: auto;
    }

    ul.style1 {
    }

    ul.contact {
        margin: 0;
        padding: 1em 0em 0em 0em;
        list-style: none;
    }

    ul.contact li {
        display: inline-block;
        padding: 0em 0.20em;
        font-size: 1.2em;
    }

    ul.contact li span {
        display: none;
        margin: 0;
        padding: 0;
    }

    ul.contact li a {
        color: rgba(255,255,255,1);
    }

    ul.contact li a:before {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background: hsla(3,40%,45%,1.0);
        border-radius: 30px;
        text-align: center;
    }

    .button {
        display: inline-block;
        margin-top: 2em;
        padding: 0.6em 1em;
        background: hsla(352, 45%, 29%, 1.0);
        border-radius: 4px;
        line-height: 1.5em;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.2em;
        color: #FFF;
    }

    .button:before {
        display: inline-block;
        background: #8DCB89;
        margin-right: 1em;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        text-align: center;
        color: #272925;
    }

    .button-small {
    }

    .title {
        padding: 3em 0;
    }

    .title h1 {
        font-size: 3.4em;
    }

    .title h2 {
        font-size: 2.8em;
    }

    .title .byline {
        letter-spacing: 0.15em;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.1em;
        color: #6F6F6F;
    }

    #header-wrapper {
        overflow: hidden;
    }

    #header {
    }

    #logo {
        display: -webkit-flex;
        display:         flex;
        font-size: 5.0em;
        padding: 0.7em 0;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: wrap-reverse;
                flex-wrap: wrap-reverse;
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-align-items: center;
                align-items: center;
        text-align: center;
    }

    #logo a {
        color: #333;
        font-family: 'Brandon', sans-serif;
    }

    #logo img {
        max-width: 3em;
        max-height: 1.4em;
        margin-left: 0.05em;
    }

    #logo a {
        text-decoration: none;
    }

    #logo span {
        letter-spacing: 0.10em;
        text-transform: uppercase;
        font-size: 0.90em;
        color: #3C3C3C;
    }

    #logo span a {
        color: #3C3C3C;
    }

    #menu {
        background-color: hsla(352, 45%, 29%, 1.0); /* crimson */
        font-family: 'Lato', sans-serif;
    }

    #menu ul {
        text-align: center;
    }

    #menu li {
        display: inline-block;
    }

    #menu li a, #menu li span {
        display: inline-block;
        padding: 1em 1.5em;
        letter-spacing: 0.20em;
        text-decoration: none;
        font-size: 0.90em;
        font-weight: 600;
        text-transform: uppercase;
        outline: 0;
        color: hsla(41, 21%, 88%, 0.71);
    }

    #menu li:hover a, #menu li.active a, #menu li.active span {
    }

    #menu .current_page_item a {
        background-color: hsla(352, 45%, 52%, 1.0); /* light crimson */
    }

    #wrapper1 {
        box-shadow: 0 0 5px black;
    }

    #wrapper2 {
        background: hsla(3,40%,45%,1.0);
    }

    #wrapper3 {
        box-shadow: 0 5px 5px black;
        overflow: hidden;
        padding: 0em 0em 8em 0em;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    #wrapper4 {
        z-index: 0;
        overflow: hidden;
    }

    #welcome {
        overflow: hidden;
        width: 1000px;
        padding: 8em 100px 8em 100px;
        text-align: center;
        color: rgba(255,255,255,0.4);
    }

    #welcome .content {
        padding: 0em 8em;
    }

    #welcome a,
    #welcome strong {
        color: rgba(255,255,255,0.6);
    }

    #footer {
        background-color: hsla(352, 85%, 35%, 1.0); /* crimson */
        padding: 8em 0em 5em 0em;
        text-align: center;
    }


    #footer .title h2 {
        color: rgba(255,255,255,1);
    }


    #footer .title .byline {
        letter-spacing: normal;
        text-transform: capitalize;
        font-size: 1.6em;
        color: rgba(255,255,255,0.2);
    }

    #copyright {
        background-color: #555;
        overflow: hidden;
        padding: 5em 0em;
        border-top: 1px solid rgba(255,255,255,0.08);
    }

    #copyright p {
        text-align: center;
        color: rgba(255,255,255,0.2);
    }

    #copyright a {
        text-decoration: none;
        color: rgba(255,255,255,0.4);
    }

#upcoming-events {
    background-color: #fafafa;
    padding: 1em;
}

.content-container {
    padding: 1em 6%;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    color: #666;
}

.pure-g,
.pure-g [class *= "pure-u"] {
    font-family: inherit;
}

.article-contents {
    margin: 2em 0;
}

.article-contents > .text p {
    text-align: justify;
}

.article-contents > .text {
}

.article-contents > .image {
    padding-right: 2em;
}

@media (max-width: 48em) {
    .article-contents > .image {
        padding: 1em 0;
    }
}

.article-contents > .image > img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 5px #aaa;
}

.article-contents .project-links {
    margin: 2em 0;
}

.article-contents .project-links > ul {
    margin: 0 auto;
    line-height: 1.5em;
}

.article-contents .project-links > ul > li {
}

.article-contents .project-links > ul > li a {
    color: inherit;
}

.article-contents .see-more {
}

ul.flat {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.events > li {
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
}

ul.events > li > h2:first-child {
    float: left;
    margin-right: 0.8em;
}

ul.events .event-spacetime {
    color: #777;
}

.mchacks-banner {
    text-align: center;
    background-image: url('/images/mchacks-banner.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

.mchacks-banner .trans-black-overlay {
    background-origin: padding-box;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 3em 0;
    width: 100%;
    height: 100%;
}

.service-descriptions > * {
    padding: 0 2em;
}

.service-descriptions p {
    text-align: justify;
}

.centering {
    text-align: center;
}
