@mixin tiered-coloring {
  &:nth-of-type(2) {
    color: #636363;

    [class$="dot"] {
      background-color: #636363;
    }
  }

  &:nth-of-type(3) {
    color: #4476c2;

    [class$="dot"] {
      background-color: #4476c2;
    }
  }

  &:nth-of-type(4) {
    color: #f89790;

    [class$="dot"] {
      background-color: #f89790;
    }
  }

  &:nth-of-type(5) {
    color: #3e8bff;

    [class$="dot"] {
      background-color: #3e8bff;
    }
  }

  &:nth-of-type(6) {
    color: #f2463a;

    [class$="dot"] {
      background-color: #f2463a;
    }
  }
}

@mixin media-query($screen) {
  @media only screen and (min-width: $screen) {
    @content;
  }
}

@mixin page-width {
  max-width: 118rem;
  margin: 0 auto;
  padding: 0 4.8rem;
}
